<div  class="calendar-item" 
      ng-class="{'calendar-item--selected': selection == month}"
      ng-repeat="month in months">
  <div class="l-block-small">
    <div class="calendar-item__month" ng-click="select(month)">{{month.label}}</div>
  </div>

  <ul class="l-list l-list--collapsed">
    <li class="l-list__item" ng-repeat="week in month.weeks">
      <div  class="ci-week" 
            ng-class="{'ci-week--selected': selection == week}"
            ng-click="select(week)">
        <div class="l-list-inline l-list-inline--collapsed">
          <div class="l-list-inline__item is-middle-aligned" ng-repeat="day in week.days">
            <div class="ci-week__day">{{day.label}}</div>
          </div>
      
          <div class="l-list-inline__item is-middle-aligned">
            <div class="ci-shares">
              <div class="ci-shares__inner" style="width: {{100*week.nTweets/maxShares}}%"></div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<div  class="calendar-item"
      ng-class="{'calendar-item--selected': selection == current}">
  <div class="calendar-item__month" ng-click="select(current)">{{current.label}}</div>
</div>