<div id="cluster-encapsulated"></div>

<div class="searchbox">
  <input class="searchbox__input" placeholder="search here" ng-model="filter" ng-keydown="doSearch($event)">
</div>

<section id="details-popup" class="details-popup" ng-show="details">
  <div class="l-block-small">
    <h1 class="details-popup__title">
      {{details.title}}
    </h1>
  </div>

  <div class="l-media">
    <div class="l-media__figure">
      <div class="details-popup__thumb" style="background-image: url({{details.thumb}});"></div>
    </div>

    <div class="l-media__body">
      <div class="l-list-inline" ng-if="details.activeLink">
        <div class="l-list-inline__item">{{details.activeLink.host}} by @{{details.activeLink.user}}</div>
      </div>
    </div>
  </div>
</section>