<div id="cluster-encapsulated"></div>

<div class="searchbox">
  <input class="searchbox__input" placeholder="search here" ng-model="filter" ng-keydown="doSearch($event)">
</div>

<section id="details-popup" class="details-popup" ng-show="hovered">
  <div class="l-media">
    <div class="l-media__figure">
      <div class="details-popup__thumb" style="background-image: url({{hovered.thumb}});"></div>
    </div>

    <div class="l-media__body">
      <div class="l-block-small">
        <h1 class="details-popup__title">
          {{hovered.title}}
        </h1>
      </div>

      <div ng-if="hovered.post">
        <div class="l-block-small">
          post on <span class="details-popup__website">{{hovered.post.key}}</span> by:</div>
        </div>

        <div ng-repeat="tweet in hovered.post.children">
          <div class="l-list-inline l-list-inline--collapsed">
            <div class="l-list-inline__item is-middle-aligned">
              <div class="details-popup__avatar" style="background-image: url({{tweet.user.avatar}});"></div>
            </div>

            <div class="l-list-inline__item is-middle-aligned">@{{tweet.user.name}}</div>
          </div>
        </div>
      </div>

      <div ng-if="!hovered.post">
        posted on {{hovered.children.length}} websites
      </div>
    </div>
  </div>
</section>

<button ng-click="finishTask()" class="done-button">Finish task</button>
