<div class="list-view">
  <div class="l-block-small">
    <div class="list-view__title">Info this week:</div>
  </div>

  <div class="list-view__section">
    <div ng-repeat="item in data">
      <div ng-repeat="post in item.posts">
        <div class="lv-item" ng-repeat="user in post.users">
          <div class="l-justified">
            <div class="l-justified__item">
              <div class="lv-item__title">{{item.title}}</div>
            </div>

            <div class="l-justified__item">
              <span class="lv-item__user">@{{user}}</span> on <a href="" class="lv-item__host">{{post.host}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>