.details-popup {
  position: fixed;
  top: -200px;
  left: -300px;

  padding: $global-baseline;

  background: white;
  border: 1px solid  $color-border;
  width: 400px;
  // height: 100px;

  &__title {
    font-weight: 600;
  }

  &__thumb {
    display: block;
    width: $global-baseline * 10;
    height: $global-baseline * 7;

    border: 1px solid $color-border;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__user {
    font-weight: 600;
  }

  &__avatar {
    display: block;
    width: $global-baseline * 2;
    height: $global-baseline * 2;

    background-size: cover;
    background-position: center center;
    border: 1px solid $color-border;
    border-radius: 50%;
  }

  &__website {
    font-weight: 600;
    color: $color-dc-primary;
  }
}
