.list-view {
  width: 600px;
  margin: 0 auto;
  margin-top: $global-baseline * 6;

  background: white;
  border: 1px solid $color-border;
  border-radius: $global-baseline/2;
}

.lv-item {
  padding: $global-baseline;
  border-bottom: 1px solid $color-border;

  &__avatar {
    width: $global-baseline * 4;
    height: $global-baseline * 4;

    border: 1px solid $color-border;
    border-radius: 6px;
    background-size: cover;
  }

  &__author {
    font-weight: 600;
  }

  &__link {
    color: $color-dc-primary;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__thumb {
    width: $global-baseline * 10;
    height: $global-baseline * 7;

    border: 1px solid $color-border;
    background-size: cover;
    background-position: center center;
  }
}
