/**
 *  SHAME MODULE
 *
 *  sandbox for various experiments and other stuff that should be refactored in the future
 *
 */

body {
  background: $color-bg-primary;
}

canvas {
  display: block;
}

.link {
  color: $color-dc-primary;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.done-button {
  position: fixed;
  bottom: $global-baseline;
  right: $global-baseline;
  padding: $global-baseline/2;

  font-weight: 600;

  color: $color-dc-quaternary;
  text-align: center;

  background: white;
  border: 1px solid $color-border;
  border-radius: 3px;
}
