/**
 *  SHAME MODULE
 *
 *  sandbox for various experiments and other stuff that should be refactored in the future
 *
 */

 canvas {
  display: block;
 }

 .link {
  color: $color-dc-primary;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
 }